<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <!--<include path="~/Scripts/jquery-1.10.2.js" />
    <include path="~/Scripts/jquery-1.10.2.min.js" />
    <include path="~/Scripts/bootstrap.js" />
    <include path="~/Scripts/gridmvc.min.js" />-->
  </styleBundle>
</bundles>